* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f8f8f8;
  color: #333;
}

.admin-panel {
  max-width: 1000px;
  margin: 30px auto;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

header {
  background-color: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-buttons button {
  background: white;
  color:black;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.nav-buttons button:hover {
  background-color: #e6f5e6;
}

main {
  padding: 20px;
}

h2 {
  margin-bottom: 15px;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-card {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 5px;
}

.avatar img{
    height: 100px;
    width: 100px;
    object-fit: fill;
}

.details {
  flex: 1;
}

.actions button {
  display: block;
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.actions button:hover {
  background-color: black;
}
